<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="ServicioSensoresSoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:61817/ServicioSensores.asmx"
                binding="basicHttpBinding" bindingConfiguration="ServicioSensoresSoap"
                contract="proxyWsSensores.ServicioSensoresSoap" name="ServicioSensoresSoap" />
        </client>
    </system.serviceModel>
</configuration>